<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edu.mapper.DeptMapper" >
  <resultMap id="BaseResultMap" type="com.edu.po.Dept" >
    <id column="did" property="did" jdbcType="VARCHAR" />
    <result column="academy" property="academy" jdbcType="VARCHAR" />
    <result column="dName" property="dname" jdbcType="VARCHAR" />
    <result column="dTel" property="dtel" jdbcType="INTEGER" />
    <result column="dTeacher" property="dteacher" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.edu.po.Dept" extends="BaseResultMap" >
    <result column="dInfo" property="dinfo" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    did, academy, dName, dTel, dTeacher
  </sql>
  <sql id="Blob_Column_List" >
    dInfo
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.edu.po.DeptExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from dept
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.edu.po.DeptExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dept
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from dept
    where did = #{did,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from dept
    where did = #{did,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.edu.po.DeptExample" >
    delete from dept
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.edu.po.Dept" >
    insert into dept (did, academy, dName, 
      dTel, dTeacher, dInfo
      )
    values (#{did,jdbcType=VARCHAR}, #{academy,jdbcType=VARCHAR}, #{dname,jdbcType=VARCHAR}, 
      #{dtel,jdbcType=INTEGER}, #{dteacher,jdbcType=VARCHAR}, #{dinfo,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.edu.po.Dept" >
    insert into dept
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="did != null" >
        did,
      </if>
      <if test="academy != null" >
        academy,
      </if>
      <if test="dname != null" >
        dName,
      </if>
      <if test="dtel != null" >
        dTel,
      </if>
      <if test="dteacher != null" >
        dTeacher,
      </if>
      <if test="dinfo != null" >
        dInfo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="did != null" >
        #{did,jdbcType=VARCHAR},
      </if>
      <if test="academy != null" >
        #{academy,jdbcType=VARCHAR},
      </if>
      <if test="dname != null" >
        #{dname,jdbcType=VARCHAR},
      </if>
      <if test="dtel != null" >
        #{dtel,jdbcType=INTEGER},
      </if>
      <if test="dteacher != null" >
        #{dteacher,jdbcType=VARCHAR},
      </if>
      <if test="dinfo != null" >
        #{dinfo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.edu.po.DeptExample" resultType="java.lang.Integer" >
    select count(*) from dept
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update dept
    <set >
      <if test="record.did != null" >
        did = #{record.did,jdbcType=VARCHAR},
      </if>
      <if test="record.academy != null" >
        academy = #{record.academy,jdbcType=VARCHAR},
      </if>
      <if test="record.dname != null" >
        dName = #{record.dname,jdbcType=VARCHAR},
      </if>
      <if test="record.dtel != null" >
        dTel = #{record.dtel,jdbcType=INTEGER},
      </if>
      <if test="record.dteacher != null" >
        dTeacher = #{record.dteacher,jdbcType=VARCHAR},
      </if>
      <if test="record.dinfo != null" >
        dInfo = #{record.dinfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update dept
    set did = #{record.did,jdbcType=VARCHAR},
      academy = #{record.academy,jdbcType=VARCHAR},
      dName = #{record.dname,jdbcType=VARCHAR},
      dTel = #{record.dtel,jdbcType=INTEGER},
      dTeacher = #{record.dteacher,jdbcType=VARCHAR},
      dInfo = #{record.dinfo,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update dept
    set did = #{record.did,jdbcType=VARCHAR},
      academy = #{record.academy,jdbcType=VARCHAR},
      dName = #{record.dname,jdbcType=VARCHAR},
      dTel = #{record.dtel,jdbcType=INTEGER},
      dTeacher = #{record.dteacher,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.edu.po.Dept" >
    update dept
    <set >
      <if test="academy != null" >
        academy = #{academy,jdbcType=VARCHAR},
      </if>
      <if test="dname != null" >
        dName = #{dname,jdbcType=VARCHAR},
      </if>
      <if test="dtel != null" >
        dTel = #{dtel,jdbcType=INTEGER},
      </if>
      <if test="dteacher != null" >
        dTeacher = #{dteacher,jdbcType=VARCHAR},
      </if>
      <if test="dinfo != null" >
        dInfo = #{dinfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where did = #{did,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.edu.po.Dept" >
    update dept
    set academy = #{academy,jdbcType=VARCHAR},
      dName = #{dname,jdbcType=VARCHAR},
      dTel = #{dtel,jdbcType=INTEGER},
      dTeacher = #{dteacher,jdbcType=VARCHAR},
      dInfo = #{dinfo,jdbcType=LONGVARCHAR}
    where did = #{did,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.edu.po.Dept" >
    update dept
    set academy = #{academy,jdbcType=VARCHAR},
      dName = #{dname,jdbcType=VARCHAR},
      dTel = #{dtel,jdbcType=INTEGER},
      dTeacher = #{dteacher,jdbcType=VARCHAR}
    where did = #{did,jdbcType=VARCHAR}
  </update>
</mapper>